*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
/private_key.pepk
/app/release/app-release.aab
/keystore.properties
/app/release/output-metadata.json
/app/release/app-release.apk
